html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
/* Fonts */
@font-face {
    font-family: agustina;
    src: url("../vendor/fonts/Agustina.otf");
}
.col-md-6{
    padding: 0;
}
.row{
    margin: 0;
}
/* Animations */

@keyframes flow {
	0% {
		background-position: 0% 50%;
	}
	40% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 10vh;
    background-size: cover;
}
.wrapper{
    width: 100%;
    /* position: absolute; */
    height: 120vh;
    background: linear-gradient(-45deg, #52a2c4, #11afef, #23a6d5, #1da1f2, #1175ef );
	background-size: 400% 400%;
	animation: flow 20s ease infinite;
}

.home.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: agustina;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 999;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: rgba(0, 0, 0, 0.9);
}

nav ul li {
    display: inline-block;
    padding: 16px 18px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}
.home.content .img-cont{
    display: flex;
}
.home.content img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.home.content .intro{
    padding: 1rem;
}
@media(max-width: 786px) {
    .wrapper{
        height: 100%;
    }
    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: rgba(0, 0, 0, 0.9);
          position: fixed;
    }

    nav.black ul {
          background: rgba(0, 0, 0, 0.9);
    }

    .showing {
          max-height: 100%;
          padding: 1rem 1rem;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 0.2rem;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}
